.input {
  position: absolute;
  width: 50%;
  height: 30px;
  top: 10px;
  border-radius: 5px;
  padding: 5px;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .input {
    width: 20%;
  }
}
