.forecast {
  text-align: center;
  min-width: 150px;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 7px;
  margin: 8px;
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast:first-child {
  margin-left: 70px;
}

.forecast .description:hover {
  .popup {
    opacity: 1;
  }
}

.forecast .description {
  max-height: 50px;
}

.forecast .description img {
  transform: translateY(2px);
}

.forecast .wind {
  transform: translateY(6px);
  width: 80px;
  height: 30px;
}

.forecast .popup {
  top: 50%;
  left: 50%;
  border: none;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  background-color: whitesmoke;
  color: var(--dark-purple);
  font-weight: 600;
  width: fit-content;
  opacity: 0;
}

@media (max-width: 600px) {
  .forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 0px;
  }
  .forecast .time {
    width: 80px;
    padding: 0;
  }
  .forecast .temp {
    width: 80px;
  }
  .forecast .wind {
    transform: translateY(4px);
    width: 80px;
    height: auto;
  }
}

@media (max-width: 300px) {
  .forecast {
    background-color: rebeccapurple;
    display: grid;
    justify-content: center;
  }
}
