.day {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0 0 2rem 0;
  cursor: default;
  justify-content: flex-start;
  opacity: 0.95;
  min-width: 100%;
  margin: 5px 0;
  background-color: rgb(1, 118, 157);
  justify-content: center;
  text-align: center;
}

.day:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
}
.day:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0;
}

.day .title {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day h2,
.day small {
  color: whitesmoke;
  background-color: rgb(1, 118, 157);
  padding: 2px;
}
.day small {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .day {
    display: grid;
    text-align: center;
    justify-content: normal;
    width: 90%;
    gap: 10px;
  }
}
@media (min-width: 1800px) {
  .day {
    width: 70%;
  }
}
