.calendar {
  display: grid;
  width: 100%;
}

.cell {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: gray;
  border-bottom: solid 1px white;
  margin: auto;
  gap: 10px;
  padding: 10px;
}

.cell:last-child {
  border: none;
}

.block {
  border: 2px solid black;
  text-align: center;
  min-width: 100px;
  border-radius: 5px;
}
.cell h2 {
  width: 100%;
}

@media (max-width: 800px) {
  .cell {
    display: grid;
    text-align: center;
  }
  .block {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
}
