.calendar {
  display: grid;
  width: 100%;
}

.cell {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: lightblue;
  border-bottom: solid 1px white;
  margin: auto;
  gap: 10px;
  padding: 10px;
  color: darkblue;
}

.cell:last-child {
  border: none;
}

.forecast {
  border: 2px solid darkblue;
  text-align: center;
  min-width: 100px;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cell h2 {
  width: 100%;
}

@media (max-width: 800px) {
  .cell {
    display: grid;
    text-align: center;
  }
  .forecast {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
}
