.card {
  text-align: center;
  min-width: 150px;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 7px;
  margin: 8px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:first-child {
  margin-left: 70px;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5 {
  margin: 0;
}

.card .description:hover .popup {
  opacity: 1;
}

.card .description {
  max-height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}

.card .description img {
  transform: translateY(2px);
}

.card .description:last-of-type {
  height: 50px;
}

.card .description:last-of-type .popup {
  left: auto;
  right: 0;
}

.card .popup {
  top: 0%;
  border: none;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  background-color: whitesmoke;
  color: var(--dark-purple);
  font-weight: 600;
  width: fit-content;
  white-space: nowrap;
  opacity: 0;
  text-transform: capitalize;
  pointer-events: none;
  z-index: 10;
}


/* current weather card style on larger screens */
@media (min-width: 600px) {
  .card.current {
    max-width: 500px;
    margin: 10px auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 0 10px;
  }

  .card .label {
    width: 80px;
    padding: 0;
  }
}

@media (max-width: 300px) {
  .card {
    display: grid;
    justify-content: center;
  }

  .card .popup {
    left: 0%;
    top: -100%;
  }
}
